* {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Arsenal", sans-serif;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-right: 20px;
    margin-left: auto;
}

.menu {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.menu ul {
    display: flex;
    list-style: none;
    z-index: 999;
}

.menu li {
    padding-right: 25%;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.3vw;
}

.menu li :hover {
    color: #FF7B00;
    border-bottom: 3px solid #FF7B00;
    padding-bottom: 20px;
}

.menu img {
    height: 80%;
    margin-left: 10%;
    margin-right: 15%;
}

#atual {
    color: #FF7B00;
}

/* sessão candidato */

.candidato {
    display: flex;
}

.foto {
    width: 45%;
    margin-left: 10%;
    margin-top: 4%;
}

.foto img {
    width: 80%;
    border-radius: 15px;
    
}

.infos {
    width: 65%;
    margin-right: 10%;
    margin-top: 3%;
}

.conteudo p {
    font-size: 1.2vw;
}

.ancoras {
    margin-top: 3%;
    margin-bottom: 3%;
}

.ancoras a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2vw;
    padding: 8px 16px;
    background-color: #112244;
    border-radius: 8px;

}

.ancoras a:hover {
    background-color: #FF7B00;
    color: #000000;
    transition: 0.5s;
}

.dados-gerais li {
    font-size: 1vw;
   
}

.candidato h2 {
    color: #FF7B00;
}

.candidato h1 {
    color: #112244;
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 2%;
}

.dados-gerais {
    padding-bottom: 3%;
    font-size: 1.2vw;
}

/* sessão trajeória */
.trajetoria-politica {
    background-color: #112244;
    padding-bottom: 1%;
    padding-top: 3%;
}

.trajetoria-politica h2 {
    color: #FF7B00;
    margin-left: 10%;
    font-size: 2vw;
}

.trajetoria-politica p {
    color: #ffffff;
    font-style: italic;
    font-size: 1.5vw;
    margin-left: 10%;
    width: 80%;
    line-height: 1.8;
    text-align: left;


}

/* sessão propostas */
#propostas {
    background-color: #112244;
    padding-bottom: 3%;
    padding-top: 3%;
}


#propostas h2 {
    color: #FF7B00;
    margin-left: 10%;
    font-size: 2vw;
}

#propostas h3 {
    color: #f3b46b;
    margin-left: 10%;
    padding-top: 1.5%;
}

#propostas p {
    color: #ffffff;
    font-style: italic;
    font-size: 1.5vw;
    margin-left: 10%;
    width: 80%;
    line-height: 1.8;
}

/* sessão contato */
.contato {
    background-color: #112244;
    padding-top: 3%;
    padding-bottom: 3%;

}

#endereco {
    margin-left: 10%;
}

#endereco h2 {
    margin-bottom: 1%;
}

iframe {
    margin-left: 10%;
    margin-top: 2%;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 0px 4px 12px #ffffff;
}

.contato h2 {
    color: #FF7B00;
}

.contato p {
    color: #ffffff;
    font-size: 1.2vw;
    line-height: 1.8;

}

/* sessão feitos e valores */
.feitos h2,
.valores h2 {
    color: #FF7B00;
    margin-left: 10%;
    margin-top: 3%;
}

.valores ul {
    padding-bottom: 3%;
}

.valores p,
.valores ul {
    margin-left: 10%;
    font-size: 1.2vw;
    line-height: 1.8;
    font-style: italic;

}

.feitos ol {
    margin-left: 10%;
    font-size: 1.2vw;
    line-height: 1.8;
    font-style: italic;
}


/* CSS para o footer */
.footer_social {
    text-align: center;
    margin-bottom: 2%;
}

.footer_redes_sociais {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.footer_redes_sociais img {
    width: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer_social h3 {
    color: #112244;
    padding-top: 2%;
}

.footer_social p {
    color: #112244;
}


/* Media Queries */
@media (max-width: 450px) {
    .candidato {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .foto {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

    .foto img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .infos {
        width: 80%;
        margin: 0 auto;
        margin-top: 5%;
    }

    .conteudo p {
        font-size: 4vw;
        text-align: left;
    }

    .conteudo h1 {
        font-size: 6vw;
    }

    .ancoras a {
        font-size: 2.5vw;
        padding: 10px 20px;
    }
    .dados-gerais h2 {
        font-size: 5vw;
    }

    .dados-gerais ul {
        font-size: 4vw;
        font-style: italic;
        text-align: left;
     
    }
    .trajetoria-politica h2 {
        font-size: 5vw;
    }
    .trajetoria-politica p {
        font-size: 4vw;
    }
    #propostas h2 {
        font-size: 5vw;
    }
    #propostas h3 {
        font-size: 4vw;
    }
    #propostas p {
        font-size: 4vw;
    }
    .feitos h2,
    .valores h2 {
        font-size: 5vw;
    }
    .valores p,
    .valores ul {
        font-size: 4vw;
    }
    .feitos ol {
        font-size: 4vw;
        margin-top: 10px;
    }
    .contato p {
        font-size: 3vw;
    }

    .menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #112244;
        width: 100%;
    }

    .menu a {
        font-size: 4vw;
    }

    .menu li {
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #ffffff;
    }

    .hamburger {
        display: block;
    }

    #menu-toggle:checked+.hamburger+ul {
        display: flex;
    }

    .footer_social img {
        width: 8%;
    }
}