* {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Arsenal", sans-serif;

}


.menu {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;


}

ul {
    display: flex;
    list-style: none;


}

li {
    padding-right: 25%
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;


}

li :hover {
    color: orange;
    border-bottom: 3px solid orange;
    padding-bottom: 30px;

}

.menu img {
    height: 50%;
    margin-left: 17%;
    margin-right: 5%;
}

#atual {
    color: orange;
    border-bottom: 3px solid orange;
    padding-bottom: 30px;
}

.wallpaper {
    position: relative;



}

.wallpaper img {
    width: 100%;

}

.wallpaper p {

    position: absolute;
    top: 20%;
    left: 10%;
    margin-right: 70%;
    font-size: 3vw;
    font-weight: 700;
    color: #ffffff;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    gap: 20px;
}

.button {
    background: #FF7B00;
    color: #112244;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    background: #112244;
    color: #ffffff;
}

.candidato {
    display: flex;

    gap: 5%;


}

.candidato img {
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 20%;
    height: 20;
    margin-top: 3%;
    margin-left: 12%;
}

.infos {
    width: 50%;
    margin-top: 5%;
    

}

.infos h3, .faixa_esquerda h3 {
    color: #FF7B00;
}

.infos h1, .faixa_esquerda h1 {
    color: #112244;
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 2%;
}

.infos p, .faixa_esquerda p {
    font-size: 1.5vw;
    color: #112244;
    line-height: 1.5;
}

.trajetoria {
    display: flex;
}

.faixa_esquerda{
    width: 45%;
    padding-top: 5%;
    padding-left: 10%;
}


.accordeons {
    width: 55%;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 5%;
}

details {
  width: 100%; 
  margin: 3%;
  border: 2px solid #FF7B00;
  border-radius: 8px;
  background-color: #ff7b0035;
  overflow: hidden;
}

.infos h3, .faixa_esquerda h3 {
    color: #FF7B00;
}

.infos h1, .faixa_esquerda h1 {
    color: #112244;
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 2%;
}

.infos p, .faixa_esquerda p {
    font-size: 1.5vw;
    color: #112244;
    line-height: 1.5;
}

.trajetoria {
    display: flex;
}

.faixa_esquerda{
    width: 45%;
    padding-top: 5%;
    padding-left: 10%;
}


.accordeons {
    width: 55%;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 5%;
}

details {
  width: 100%; 
  margin: 3%;
  border: 2px solid #FF7B00;
  border-radius: 8px;
  background-color: #ff7b0035;
  overflow: hidden;
}

summary {
  cursor: pointer;
  padding: 12px;
  background-color: #FF7B00;
  color: #112244;
  font-weight: bold;
  border-bottom: 1px solid #FF7B00;
}

summary:hover {
  background-color: #112244;
  color: #ffffff;
  border-color: #112244;
}

details[open] summary {
  border-bottom: 2px solid white;
}

details p, details div {
  padding: 12px;
  background-color: #fffaf5;
  color: #000000;
}

.valores {
    background-color: #112244;
    margin-top: 5%;
    padding-top: 3%;
    text-align: center;
}

.valores h3 {
    color: #FF7B00;
    padding-bottom: 2%;
}

.valores h1 {
    color: #ffffff;
    font-size: 2.5vw;
    padding-bottom: 2%;
}

.valores p {
    color: #ffffff;
    width: 80%;
    font-size: 1.5vw;
    margin-left: 10%;
    line-height: 1.5;
}

summary:hover {
  background-color: #112244;
  color: #ffffff;
  border-color: #112244;
}

details[open] summary {
  border-bottom: 2px solid white;
}

details p, details div {
  padding: 12px;
  background-color: #fffaf5;
  color: #000000;
}

.valores {
    background-color: #112244;
    margin-top: 5%;
    padding-top: 3%;
    text-align: center;
}

.valores h3 {
    color: #FF7B00;
    padding-bottom: 2%;
}

.valores h1 {
    color: #ffffff;
    font-size: 2.5vw;
    padding-bottom: 2%;
}

.valores p {
    color: #ffffff;
    width: 80%;
    font-size: 1.5vw;
    margin-left: 10%;
    line-height: 1.5;
}