*{
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
    font-family: "Arsenal", sans-serif;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-right: 20px;
    margin-left: auto;
 
}

.menu {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}
 .menu img {
    height: 80%;
    margin-left: 10%;
    margin-right: 15%;
    
}
.menu ul {
    display: flex;
    list-style: none;
    z-index: 999;
}

.menu li {
    padding-right: 25%;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.3vw;
}

li :hover {
    color: #FF7B00;
    border-bottom: 3px solid #FF7B00;
    padding-bottom: 20px;
}


/* CSS para o header */
.menu img {
    height: 80%;
    margin-left: 10%;
    margin-right: 15%;
}

#atual {
    color: #FF7B00;
}

.wallpaper {
    position: relative;
}

.wallpaper img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.wallpaper p {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 3vw;
    font-weight: 700;
    color: #ffffff;
    z-index: 2;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    gap: 20px;
    z-index: 3;
}

.button {
    background: #FF7B00;
    color: #112244;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    background: #112244;
    color: #ffffff;
}


/* CSS para a sessão o candidato */
.candidato {
    display: flex;
}

.candidato img {

    width: 25%;
    margin-top: 3%;
    margin-left: 10%;
     border-radius: 15px;

    /* alterei aqui pra aplicar media query */
    order: 1;
}

.infos {
    margin: 3%;
    margin-right: 10%;
    /* alterei aqui pra aplicar media query */
    order: 2;
}

.infos h3, .faixa_esquerda h3 {
    color: #FF7B00;
}

.infos h1, .faixa_esquerda h1 {
    color: #112244;
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 2%;
}

.infos p {
    font-size: 1.5vw;
    color: #112244;
    line-height: 1.5;
}

.faixa_esquerda p {
    font-size: 1vw;
    color: #112244;
    line-height: 1.5;
}


/* CSS para a sessão trabalho duro */
.trajetoria {
    display: flex;
}
.trajetoria p{
    font-size: 1.5vw;
    color: #112244;
    line-height: 1.5;
}

.faixa_esquerda{
    width: 55%;
    padding-top: 5%;
    padding-left: 10%;
}

.accordeons {
    width: 55%;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 5%;
}

details {
  width: 100%; 
  margin: 1%;
  border: 2px solid #FF7B00;
  border-radius: 8px;
  background-color:white

}

summary {
  cursor: pointer;
  padding: 12px;
  background-color: #FF7B00;
  color: #112244;
  font-weight: bold;
  border-bottom: 1px solid #FF7B00;
}

summary:hover {
  background-color: #112244;
  color: #ffffff;
}

details p{
  padding: 12px;
  background-color: #fffaf5;
  color: #000000;
}


/* CSS para a sessão valores */
.valores {
    display: flex;
    flex-direction: column;
    background-color: #112244;
    margin-top: 5%;
    padding-top: 3%;
    text-align: center;
    align-items: center;
}

.valores h3 {
    color: #FF7B00;
    padding-bottom: 1%;
}

.valores h1 {
    color: #ffffff;
    font-size: 2.5vw;
    padding-bottom: 2%;
}

.valores p {
    color: #ffffff;
    width: 80%;
    font-size: 1.5vw;
    line-height: 1.5;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 3% auto;
    gap: 3%;
}

.card { 
    flex: 1 1 calc(33.33% - 3%);
    background-color: #ffffff;
    border-radius: 8px;
    text-align: left;
    padding: 1.5%;
    box-sizing: border-box;
    margin-bottom: 3%;
    max-height: 500px;
    overflow: hidden;
}

.cards :hover {
    background-color: #FF7B00;
    transition: 0.3s;
    scale: 1.05;
}

#card_icon {
    width: 10%;
    padding-bottom: 2%;
}

#card_title {
    color:#112244;
    padding-bottom: 2%;
}

#card_paragraph {
    color: #112244;
    font-size: 1vw;
}

.line {
    height: 10px;
    background-color: #FF7B00;
}


/* CSS para o footer */
.footer_social {
    text-align: center;
    margin-bottom: 2%;
}

.footer_redes_sociais {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.footer_redes_sociais img {
    width: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer_social h3 {
    color: #112244;
    padding-top: 2%;
}

.footer_social p {
    color: #112244;
}

/* Media Queries */
@media (max-width: 450px) {
    .menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #112244;
        width: 100%;
    }
    .menu a {
        font-size: 4vw;
    }

    .menu li {
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #ffffff;
    }
    .button {
        font-size: 2.5vw;
        padding: 10px 20px;
    }
   
    .hamburger {
        display: block;
    }

    #menu-toggle:checked + .hamburger + ul {
        display: flex;
    }

    .candidato {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .infos h1 {
        font-size: 5vw;
    }

    .infos p {
        font-size: 4vw;
        text-align: justify;
        margin-left: 10%;
        margin-right: 0%;
    }
    .candidato img {
       width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .trajetoria {
        flex-direction: column;
        text-align: left; 
    }
    .trajetoria h1 {
        font-size: 5vw;
    }
    .trajetoria p {
        font-size: 4vw;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
    }

    .faixa_esquerda, .accordeons {
        width: 90%;
        text-align: center;
    }

    .faixa_esquerda h1 {
        font-size: 5vw;
        text-align: center;
    }
    .faixa_esquerda h3 {
        font-size: 4vw;
        text-align: center;
    }

    .faixa_esquerda p {
        font-size: 4vw;
        text-align: justify;
        margin-left: 0%;
        margin-right: 10%;
    }

    details p{
      font-size: 3vw;
    }

    .valores h1 {
        font-size: 5vw;
    }

    .valores p {
        font-size: 3vw;
    }

    .card { 
        flex: 1 1 calc(100% - 3%);
        max-height: none;
    }

    #card_title {
        font-size: 4vw;
    }

    #card_paragraph {
        font-size: 3vw;
    }

    .footer_redes_sociais img {
        width: 5%;
    }
}
