* {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Arsenal", sans-serif;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-right: 20px;
    margin-left: auto;
}

.menu {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.menu ul {
    display: flex;
    list-style: none;
    z-index: 999;
}

.menu li {
    padding-right: 25%;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.3vw;
}

li :hover {
    color: #FF7B00;
    border-bottom: 3px solid #FF7B00;
    padding-bottom: 20px;
}

.menu img {
    height: 80%;
    margin-left: 10%;
    margin-right: 15%;
}

#atual {
    color: #FF7B00;
}

/* Player de vídeo */
.videos {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.videos h2 {
    padding-bottom: 3%;
    padding-top: 3%;
    color: #FF7B00;
}

.fila1,
.fila2 {
    display: flex;
    padding-bottom: 5%;
    gap: 30px;
    width: 100%;
}

.video-fila1 {
    width: 50%;
    text-align: center;
}

.video-fila2 {
    width: 33.33%;
    text-align: center;

}

.video-fila1 iframe,
.video-fila2 iframe {
    width: 100%;
    height: 380px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.video-fila1 p,
.video-fila2 p {
    font-size: 1vw;
    color: #112244;
    margin-top: 1%;
}

.music-player {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}


/* CSS para o footer */
.line {
    height: 12px;
    background-color: #FF7B00;
}

.footer_social {
    text-align: center;
    margin-bottom: 2%;
}

.footer_redes_sociais {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.footer_redes_sociais img {
    width: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.footer_social h3 {
    color: #112244;
    font-size: 1.5vw;
    padding-top: 2%;
}

.footer_social p {
    color: #112244;
    font-size: 1vw;
}

/* Media Queries */
@media (max-width: 450px) {
    .menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #112244;
        width: 100%;

    }

    .menu a {
        font-size: 4vw;
    }

    .menu li {
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #ffffff;
    }

    .button {
        font-size: 2.5vw;
        padding: 10px 20px;
    }

    .hamburger {
        display: block;

    }

    #menu-toggle:checked+.hamburger+ul {
        display: flex;

    }

    /* Player de vídeo */
    .videos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin: 0 auto;
        text-align: center;
    }

    .videos h2 {
        padding: 3% 0;
        color: #FF7B00;
    }

    .fila1,
    .fila2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .video-fila1,
    .video-fila2 {
        width: 80%;
        max-width: 600px;
    }

    .video-fila1 iframe,
    .video-fila2 iframe {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    .video-fila1 p,
    .video-fila2 p {
        font-size: 3vw;
        color: #112244;
        margin-top: 1%;
    }

    .footer_redes_sociais img {
        width: 5%;
    }

    .footer_social h3 {
        font-size: 4vw;
    }

    .footer_social p {
        font-size: 3vw;
    }

}