*{
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
    font-family: "Arsenal", sans-serif;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-right: 20px;
    margin-left: auto;
}

.menu {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.menu ul {
    display: flex;
    list-style: none;
    z-index: 999;
}

.menu li {
    padding-right: 25%;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.3vw;
}

li :hover {
    color: #FF7B00;
    border-bottom: 3px solid #FF7B00;
    padding-bottom: 20px;
}

.menu img {
    height: 80%;
    margin-left: 10%;
    margin-right: 15%;
}

#atual {
    color: #FF7B00;
}

/* CSS para o footer */
.line {
    height: 12px;
    background-color: #FF7B00;
}
.footer_social {
    text-align: center;
    margin-bottom: 2%;
}

.footer_redes_sociais {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.footer_redes_sociais img {
    width: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.footer_social h3 {
    color: #112244;
    font-size: 1.5vw;
    padding-top: 2%;
}

.footer_social p {
    color: #112244;
    font-size: 1vw;
}

/* Media Queries */
@media (max-width: 450px) {
    .menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #112244;
        width: 100%;
        
    }
    .menu a {
        font-size: 4vw;
    }

    .menu li {
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #ffffff;
    }
    .button {
        font-size: 2.5vw;
        padding: 10px 20px;
    }
   
    .hamburger {
        display: block;
        
    }

    #menu-toggle:checked + .hamburger + ul {
        display: flex;
    
    }

    .candidato {
        flex-direction: column;
        text-align: center;
    }

    .infos h1 {
        font-size: 5vw;
    }

    .infos p {
        font-size: 3vw;
    }

    .trajetoria {
        flex-direction: column;
        text-align: left;
    }

    .faixa_esquerda, .accordeons {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }

    .faixa_esquerda h1 {
        font-size: 5vw;
    }

    .faixa_esquerda p {
        font-size: 3vw;
    }

    details p{
      font-size: 3vw;
    }

    .valores h1 {
        font-size: 5vw;
    }

    .valores p {
        font-size: 3vw;
    }

    .card { 
        flex: 1 1 calc(100% - 3%);
        max-height: none;
    }

    #card_title {
        font-size: 4vw;
    }

    #card_paragraph {
        font-size: 3vw;
    }

    .footer_redes_sociais img {
        width: 5%;
    }
}