* {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Arsenal", sans-serif;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-right: 20px;
    margin-left: auto;
}

.menu {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.menu ul {
    display: flex;
    list-style: none;
    z-index: 999;
}

.menu li {
    padding-right: 25%;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.3vw;
}

li :hover {
    color: #FF7B00;
    border-bottom: 3px solid #FF7B00;
    padding-bottom: 20px;
}

.menu img {
    height: 80%;
    margin-left: 10%;
    margin-right: 15%;
}

#atual {
    color: #FF7B00;
}



.noticias {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 5%;
}



.bloco-um {
    display: flex;
    width: 100%;
    gap: 5%;
}

.bloco-dois {
    display: flex;
    width: 100%;
    gap: 5%;
}

.bloco-um  {
    width: 100%;
   
    border-radius: 10px;
  

}

.bloco-dois img {

    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}


/* Media Queries */
@media (max-width: 450px) {
    .menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #112244;
        width: 100%;
        
    }
    .menu a {
        font-size: 4vw;
    }

    .menu li {
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #ffffff;
    }
    .button {
        font-size: 2.5vw;
        padding: 10px 20px;
    }
   
    .hamburger {
        display: block;
        
    }

    #menu-toggle:checked + .hamburger + ul {
        display: flex;
    
    }
}